/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}



/*--------------------*/
input {
    display: none;
}

body {
    background-image: url(https://www.wallpaperuse.com/wallp/39-390635_m.jpg);
    background-position: center;
    background-size: cover;
    
}

.wrapper{
    display: flex;
    min-height: 100%;
    justify-content: space-between;
    align-items: center;

}

.left-pointer, .right-pointer{
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 10%;
    transition: 1s;
    
 }
 
.main-block{
    flex: 80%;
    text-align: center;
   
   }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-carousel{
    max-width: 80%;
    overflow: hidden;
    margin-top: 400px;
   
 }
 .sliders{
    width: 300%;
    height: 100%;
    display: flex;
}


.slide {
    width: 33.333%;
    transition: 0.8s;
    text-align: center;
    color: black;
    
}
.slide-header {
    font-size: 40px;
    margin: 10px 0 30px 0;
  

}
.slide-text {
    margin: 30px ;
    font-size: 20px;
  
}

.navigation {
    display: flex;
   
  
  }
.navigation-bar {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 6px;
    cursor: pointer;
    transition: 1s;
    padding: 10px;
 
}

  
#slide1:checked ~ .main-block  .first {
    margin-left: 0;
    
}

#slide2:checked ~ .main-block  .first {
    margin-left: -33.333%;
}
#slide3:checked ~ .main-block  .first {
    margin-left: -66.666%;
}
#slide1:checked ~ .main-block  #dot1, 
#slide2:checked ~ .main-block  #dot2,
#slide3:checked ~ .main-block  #dot3 {
    background: rgb(0, 0, 0);
} 

#slide1:checked ~ .right-pointer #right-arrow2,
#slide2:checked ~ .right-pointer #right-arrow3,
#slide3:checked ~ .right-pointer #right-arrow1,
#slide1:checked ~ .left-pointer #left-arrow3,
#slide2:checked ~ .left-pointer #left-arrow1,
#slide3:checked ~ .left-pointer #left-arrow2 {
    background-image: url("https://image.flaticon.com/icons/svg/130/130884.svg");
     background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    background-position: center;
    width: 50%;
    height: 50%;
}
#slide1:checked ~ .left-pointer #left-arrow3,
#slide2:checked ~ .left-pointer #left-arrow1,
#slide3:checked ~ .left-pointer #left-arrow2 {
  background-image: url("https://image.flaticon.com/icons/svg/130/130882.svg");

}



.navigation-bar:hover{
    background: rgba(0, 0, 0, 0.4);
} 
.left-pointer:hover, .right-pointer:hover{
    background-color: rgba(0, 0, 0, 0.3);

}

 